@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alkatra&family=Bodoni+Moda&family=Chivo:wght@600&family=Crete+Round&family=Kanit:ital,wght@0,500;1,400&family=PT+Serif&family=Pacifico&family=Poppins:wght@500;800&family=Raleway:wght@500&family=Roboto+Condensed&family=Rubik:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image:url(../assets/images/pic.jpg);
    background-size: cover;
}
.navbar{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    color: #ffffff;
}
.btn{
    width: 130px;
    height: 40px;
    color: #ffffff;
    background-color: #8e018e;
    border-radius: 9px;
}
.btn:hover{
    background-color: #ff0000;
}

.content{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
.content p{
    font-size: 20px;
}
.btn-2{
    width: 200px;
    height: 40px;
    margin-top: 5%;
    color: #ffffff;
    background-color: #8e018e;
    border-radius: 9px;
}
.btn-2:hover{
    background-color: #ff0000;
}